<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Bienvenue</h1>
<h2 th:utext="${message}">..!..</h2>
<a th:href="@{/addTodo}">Créer un todo</a>
<a th:href="@{/todoList}">Liste des todo</a>
</body>

</html>